/* ---------- GENERAL ---------- */
.ladoB {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 40px;
  box-sizing: border-box;
  background-color: #73352F;
}

.ladoB-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto 30px auto;
  text-align: center;
}

.ladoB-logo {
  width: 100%;
  margin-bottom: 24px;
  user-select: none;
}

.ladoB-logo img{
  width: 100%;
}

.ladoB-description {
  font-family: "Monserrat";
  font-weight: 900;
  font-size: 16px;
  width: 80%;
  line-height: 1.5;
  color: #F9ECC9;
  margin: 0;
}

/* ---------- PROJECT CONTAINER ---------- */
.ladoB-projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

/* ---------- PROJECT CARD ---------- */
.proyectoB {
  display: flex;
  align-items: stretch;
  width: 80%;
  padding: 20px;
  background-color: #D7B88A;
  border: 15px solid #F9ECC9;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
  margin: 0 2rem;
}

/* ---------- IMAGE ---------- */
.proyectoB-image{
  width: 40%;
  background-color: #e0e0e0;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
  align-self: center;
}

.proyectoB-imageInner {
  display: flex;
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.proyectoB-imageInner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

/* ---------- CONTENT ---------- */
.proyectoB-content {
  width: 60%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proyectoB-content span {
  font-family: "Monserrat-Bold";
}

.proyectoB-title {
  font-family: "Faculty Glyphic";
  font-size: 24px;
  margin-bottom: 16px;
}

.proyectoB-text {
  font-size: 16px;
  line-height: 1.6;
}

/* ---------- REVERSE ---------- */
.proyectoB.proyectoB-reverse {
  flex-direction: row-reverse;
  text-align: end;
  align-self: flex-end;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 768px) {

  .ladoB-description {
    width: 90%;
    font-size: 15px;
  }

  .proyectoB,
  .proyectoB.proyectoB-reverse {
    flex-direction: column;
    width: 80%;
    padding: 12px;
    border-width: 10px;
    align-self: center;
  }

  .proyectoB-image {
    width: 100%;
  }

  .proyectoB-content {
    width: 100%;
    padding: 16px 8px;
    text-align: left;
    text-align: justify;
  }

  .proyectoB-title {
    font-size: 22px;
  }

  .proyectoB-text {
    font-size: 15px;
    line-height: 1.5;
  }
}
