.lightbox-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;

  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.lightbox-content {
  max-width: 95vw;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lightbox-image-wrapper {
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE / Edge viejo */
}

.lightbox-image-wrapper::-webkit-scrollbar {
  display: none;                  /* Chrome / Safari / iOS */
}

.lightbox-image {
  max-width: 100%;
  max-height: calc(80vh - 2rem);
  object-fit: contain;
  touch-action: manipulation;

}

.lightbox-description {
  font-family: "Monserrat";
  margin-top: 12px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  max-width: 80%;

  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox-thumbs {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;

  overflow-x: auto;
  overflow-y: hidden;

  max-width: 100%;
  padding-bottom: 0.5rem;

  align-items: center;
  touch-action: pan-x;
  -webkit-overflow-scrolling: touch;
}

.lightbox-thumb {
  height: 80px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s, transform 0.2s;
}

.lightbox-thumb img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.lightbox-thumb.active {
  opacity: 0.9;
  transform: scale(1.05);
}

.lightbox-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;
  color: white;
  font-size: 3rem;
  font-weight: 300;

  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
  user-select: none;
}

.lightbox-arrow:hover {
  opacity: 1;
}

.lightbox-arrow-left {
  left: 1rem;
}

.lightbox-arrow-right {
  right: 1rem;
}

.lightbox-arrow:disabled {
  opacity: 0.2;
  cursor: default;
}

@media (hover: none), (pointer: coarse) {
  .lightbox-arrow {
    display: none;
  }
}
