/* ---------- HEADER ---------- */
.header{
  background-color: #D7B88A;
  position: relative;
  padding: 5px 0px;
  text-align: center;
  width: 100%;
  color: #F9ECC9;
  z-index: 10;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin: 2px 0;

}

.navbar ul li {
  list-style: none; 
}

.nav-left,
.nav-right {
    flex: 1;
    text-align: center;
}

.nav-center {
  flex: 0;  
}

.nav-center img {
  margin-top: 3px;
  width: 5rem;
  height: auto;
  cursor: pointer;
}

.navbar li a {
  font-family: "Faculty Glyphic";
  font-size: 2.5rem;
  text-decoration: none;
  color: #F9ECC9;
}


/* ---------- Footer ---------- */

.footer {
  position: relative;
  background-color: #FEE3AC;
  color: #14110E;
  padding: 0.75rem 1rem;
  z-index: 10;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social,
.footer-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-social .email{
  display: flex;
  align-items: center;
  gap: 2px;
}

.footer a, .footer span {
  text-decoration: none;
  color: #14110E;
  font-size: 0.85rem;
}

.footer a:hover, .footer .email:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-bottom .footer-copy {
  position: absolute;
  left: 0;
  font-size: 0.75rem;
}

.footer-bottom .footer-cookie {
  cursor: pointer;
  display: flex;
  justify-content: center;
  
  animation: spin 4s linear infinite;
  animation-play-state: paused;
  transition: filter 0.3s ease;
}

.footer-bottom .footer-cookie:hover {
  animation-play-state: running;
}

.footer-bottom .footer-cookie img {
  width: 2rem;
  height: auto;
  backface-visibility: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------- Responsive ---------- */

@media (max-width: 600px) {
  .navbar li a {
    font-size: 1.5rem;
  }
  .footer-inner {
    flex-direction: column;
    gap: 0.5rem;
  }
  .footer-bottom {
    margin-top: 5px;
    gap: 1rem;
  }
  .footer-bottom .footer-copy {
    position: static;
    text-align: center;
  }
  .footer-bottom .footer-cookie {
    animation: none !important;
    transition: none;
  }
  .footer-bottom .footer-cookie:hover {
    animation: none !important;
  }
}
